

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
    box-sizing: border-box;
    
}

.container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}



ul {
    width: 600px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    
   
}

li {
    width: 20%;
    margin-bottom: 10px;
   
}

h1, h2 {
    line-height: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: aliceblue;
    font-size: 16px;
}

img {
    border-radius: auto;
}

.name   {
    max-width: 600px; 
    font-size: 100px;
}

.aboutme {
    width: 400px;
    text-align: justify;
    
}



.nav-button {
    display: inline-block;
    position: sticky;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: rgb(170, 165, 165);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
   
}

.nav-button:hover {
    /* background-color: #b3b8bb; */
    color: rgb(250, 248, 246) ;
    font-weight: bold;
    
}

.contact    {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    
    
}

.btn {
    display: flex;
    flex-direction:row ;
    align-items: center;
    color: #00000081;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #f0ebebcf;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 10%;
  }
  
  .btn:hover {
    color: #fff;
    border: 2px outset rgba(0, 0, 0, 0.9);
    transform:scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0,0,0, 20);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px;
  }


@media only screen and (max-width: 844px) {
    /* For mobile phones: */

    .name {
        font-size: 50%; 
    }


    .aboutme {
        width: 50%;
        
    }

    .nav-button {
        display: flex;
        flex-direction: column;
    }
  }